tenancy_ocid     = "<TENANCY_OCID>"
compartment_ocid = "<COMPARTMENT_OCID>"
region           = "us-ashburn-1"

bucket_name    = "CriblOutput"
create_bucket  = true
object_prefix  = "cribl"
include_minute = true

# Use the function_image output from image-builder-stack.
function_image = "ocir.<region>.oci.oraclecloud.com/<OBJECT_STORAGE_NAMESPACE>/cribl-oci-log-partitioner/function:0.0.1"

# Reuse an existing Functions app by default.
create_functions_application      = false
existing_functions_application_id = "<FUNCTIONS_APPLICATION_OCID>"

# If creating a new Functions app, set create_functions_application=true and provide subnets.
functions_subnet_ids = []

log_sources = [
  {
    compartment_id = "<COMPARTMENT_OCID>"
    log_group_id   = "<LOG_GROUP_OCID>"
    log_id         = "<VCN_FLOW_LOG_OCID>"
    log_type       = "oci-vcn-flow"
  },
  {
    compartment_id = "<COMPARTMENT_OCID>"
    log_group_id   = "<LOG_GROUP_OCID>"
    log_id         = "<OBJECT_STORAGE_LOG_OCID>"
    log_type       = "oci-object-storage"
  }
]

connector_batch_size_in_num = 100
connector_batch_time_in_sec = 60

create_iam_resources = true
